footer {
  color: white;
  font-family: "Inter", sans-serif;
  padding: 1.25rem 3.125rem;
  background-color: #2b3e3a;
  display: flex;
  justify-content: space-between;
}

#footerfifity {
  font-weight: 100;
}

#art5 h2,
#art6 h2,
#art7 h2 {
  font-weight: bolder;
  margin-bottom: 0.625rem;
}

footer a {
  cursor: pointer;
  display: block;
  margin-bottom: 0.3125rem;
}

#art7 {
  text-align: center;
}

#midia {
  display: flex;
  justify-content: center;
  align-items: center;
}

#midias a {
  display: inline-block;
  margin-right: 0.625rem;
  cursor: pointer;
}

#midias a img:hover{
    opacity: 0.8;
}