@import url('https://fonts.googleapis.com/css2?family=Homenaje&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  font-family: 'Homenaje', sans-serif;
  padding: 0 1.25rem; /* 20px / 16 = 1.25rem */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(159, 255, 176);
}

#accountcircle{
  width: 2.8125rem;
  margin-left: 8.125rem;
}

.links, .botao {
  font-family: 'Homenaje', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-self: center;
}

#acessopag, #login {
  display: flex;
  gap: 0.9375rem; /* 15px / 16 = 0.9375rem */
}

#primeirolink {
  margin-left: 8.125rem; /* 130px / 16 = 8.125rem */
  margin-left: 8.125rem; /* 130px / 16 = 8.125rem */
  text-decoration: underline;
}

.botao {
  background-color: #7FC98F;
  color: #2B3E3A;
  width: 6.25rem; /* 100px / 16 = 6.25rem */
  height: 1.875rem; /* 30px / 16 = 1.875rem */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem; /* 10px / 16 = 0.625rem */
  border: none;
  cursor: pointer;
  font-size: 1.375rem; /* 22px / 16 = 1.375rem */
}

.botao a {
  color: #2B3E3A;
}

.botao:hover {
  background-color: #4F7D59;
}

.links {
  color: #556B67;
}
