@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/backgroundempresa.png");
  overflow: hidden;
}

header {
  padding: 0 1.25rem; /* 20px / 16 = 1.25rem */
  display: flex;
  align-items: center;
  gap: 1.875rem; /* 30px / 16 = 1.875rem */
  background-color: #3c4f4b;
  justify-content: space-between;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0; /* 20px / 16 = 1.25rem */
  font-size: 1.125rem; /* 18px / 16 = 1.125rem */
  color: #fff;
  font-weight: 100;
}

#container {
  border-radius: 0.625rem; /* 10px / 16 = 0.625rem */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 33vw; /* 33% of viewport width */
  height: 46.875rem; /* 75vh / 16 = 46.875rem */
  padding: 6.25rem; /* 100px / 16 = 6.25rem */
}

#supercontainer {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem; /* 30px / 16 = 1.875rem */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem; /* 30px / 16 = 1.875rem */
}

hr {
  color: white;
  width: 33vw; /* 33% of viewport width */
}

input {
  border: 0.125rem solid #3c4f4b; /* 2px / 16 = 0.125rem */
  border-radius: 1.25rem; /* 20px / 16 = 1.25rem */
  padding: 1.25rem 0.625rem; /* 20px 10px / 16 = 1.25rem 0.625rem */
  width: 28vw; /* 28% of viewport width */
  color: #3c4f4b;
}

button {
  color: white;
  background-color: #3c4f4b;
  width: 28vw; /* 28% of viewport width */
  border: none;
  padding: 1.25rem 0.625rem; /* 20px 10px / 16 = 1.25rem 0.625rem */
  text-align: center;
  border-radius: 0.3125rem; /* 5px / 16 = 0.3125rem */
}

input::placeholder {
  color: #3c4f4b;
}

#cadastroButton {
  margin-bottom: 6.25rem; /* 100px / 16 = 6.25rem */
}

#email {
  margin-top: 6.25rem; /* 100px / 16 = 6.25rem */
}

#entrarButton {
  margin-bottom: 2.5rem; /* 40px / 16 = 2.5rem */
}

#redef {
  color: #3c4f4b;
}

button a {
  color: #fff;
  text-decoration: none;
}
